@use "@material/snackbar/mdc-snackbar";
@use '@material/button';
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/dialog";
@use "@material/checkbox";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";

@mixin mdc-text-field-outline-color($secondary) {
}

.bg-main {
    background-image: url("../asset/amedia_poster.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main__form {
    display: flex;

    .mdc-text-field-helper-text {
        font-size: 14px;
        line-height: 16px;
        color: rgba(255, 255, 255, 0.5) !important;
        margin-left: 153px;
    }
}
@include textfield.core-styles;
@include icon-button.core-styles;
@include button.core-styles;
@include checkbox.core-styles;
@include dialog.core-styles;
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,500,500italic,400italic,300italic,100italic,700italic);
$base-font: Roboto, sans-serif;
body {
    background: rgb(0, 0, 0);
}
.linear-progress {
    // @include buffer-color($color);
    color: red;
    background-color: red;
}
.main-text-field {
    @include mdc-text-field-outline-color(#fff);
    border-width: 0;
    border-style: solid;
    width: 339px;
    height: 56px;
    background: #ffffff;
    border-radius: 44px;
    margin: 0 23px 3px 10px;

    .mdc-text-field__input {
        caret-color: #a5a5a5;
        font-size: 22px;
        line-height: 26px;
        color: #a5a5a5 !important;
    }
}

.mdc-checkbox__background {
    top: 8px !important;
    left: 8px !important;
    width: 24px;
    height: 24px;
    border: 1px solid currentColor;
    border-radius: 4px;
}

.mdc-checkbox
    .mdc-checkbox__native-control:enabled:checked
    ~ .mdc-checkbox__background,
.mdc-checkbox
    .mdc-checkbox__native-control:enabled:indeterminate
    ~ .mdc-checkbox__background,
.mdc-checkbox
    .mdc-checkbox__native-control[data-indeterminate="true"]:enabled
    ~ .mdc-checkbox__background {
    background-color: initial;
    border-color: #fff;
}

.mdc-checkbox
    .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate="true"])
    ~ .mdc-checkbox__background {
    border-color: #fff;
}

.mdc-checkbox.mdc-checkbox--selected .mdc-checkbox__ripple::before,
.mdc-checkbox.mdc-checkbox--selected .mdc-checkbox__ripple::after {
    background-color: #fff;
}

.mdc-checkbox
    .mdc-checkbox__native-control:checked
    ~ .mdc-checkbox__background::before,
.mdc-checkbox
    .mdc-checkbox__native-control:indeterminate
    ~ .mdc-checkbox__background::before,
.mdc-checkbox
    .mdc-checkbox__native-control[data-indeterminate="true"]
    ~ .mdc-checkbox__background::before {
    background-color: #fff;
}

.bg-main,
.bg-gragient {
    height: 100vh;
}

.bg-gragient {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mdc-button.mdc-button--unelevated {
    background-color: #feb52b;
    width: 241px;
    height: 56px;
    border-radius: 44px;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #ffffff;

    .mdc-button__ripple {
        border-radius: 44px;
    }
}

.mdc-button.mdc-button--unelevated.disabled {
    background-color: rgba(255, 255, 255, 0.05);
}

.mdc-notched-outline {
    display: none;
}
.lds-dual-ring {
    display: none;
    width: 44px;
    height: 44px;
    position: relative;
    left: -10px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 24px;
    height: 24px;
    margin: 4px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mdc-dialog .mdc-dialog__surface {
    max-width: none;
    width: 630px;
    height: 460px;
    border-radius: 8px;
    background-color: #1d1f23;
}

.mdc-dialog--open .mdc-dialog__scrim {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.main__form .mdc-text-field-helper-text {
    font-family: $base-font !important;
}

a:-webkit-any-link:focus {
    outline-offset: 0 !important;
    outline: 0 !important;
}

.mdc-dialog {
    .content__active-service {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    a.dialog__main-text {
            &:hover {
                text-decoration: underline;
            }
    }

    p {
        font-family: $base-font;
    }

    .dialog__title {
        font-size: 26px;
        line-height: 30px;
        color: #ffffff;
    }

    .mdc-dialog__actions {
        justify-content: center;
    }

    .dialog__main-text {
        font-size: 16px;
        line-height: 27px;
        color: #ffffff;
        margin-bottom: 13px;
    }

    .dialog__aside-text {
        margin-bottom: 27px;
        font-size: 16px;
        color: #ffffff;
        color: rgba(255, 255, 255, 0.5);
        align-self: start;
    }

    .mdc-dialog__surface {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mdc-dialog__content {
        padding: 0;
        display: flex;
        margin: 36px 25px 0 36px;
        flex-direction: column;

        .dialog__top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }
    }

    .dialog__checkbox {
        display: flex;
        align-items: center;
        margin-bottom: 17px;

        .mdc-checkbox__native-control {
            color: #fff;
        }

        .checkbox__text {
            margin-left: 10px;
            font-size: 18px;
            line-height: 21px;
            color: rgba(255, 255, 255, 0.5);
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.mdc-menu-surface--open + .menu__blure-bg {
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.mdc-snackbar {
    justify-content: flex-start;
    margin-bottom: 95px !important;

    .mdc-snackbar__surface {
        width: 469px;
        height: 66px;
    }

    .mdc-snackbar__label {
        font-size: 22px;
        line-height: 26px;
        color: #ffffff;
    }
}

.bg-gragient {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.76234243697479) 57%,
        rgba(0, 0, 0, 0.3897934173669467) 100%
    );
}

a {
    text-decoration: none;
}

.text22-26 {
    font-family: $base-font;
    font-size: 22px;
    line-height: 26px;
}

.text16-19 {
    font-family: $base-font;
    font-size: 16px;
    line-height: 19px;
}

.header.container {
    padding: 18px 0;
    display: flex;
    align-items: center;
    margin-bottom: 123px;
    justify-content: space-between;

    .header__pc-block {
        display: flex;
        align-items: center;
    }

    .header__mob-block {
        display: none;
    }
}

.header__logo {
    margin-left: 8px;
    margin-right: 56px;
}

.header__link a {
    font-family: $base-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.5);
}

.header__link a:hover {
    color: rgba(255, 255, 255, 1);
}

.main__title {
    margin: 0 0 54px 8px;
}

.main {
    .main__description {
        margin: 0 8px 55px;
    }

    .main__description-text {
        width: 625px;
        margin-bottom: 26px;
    }

    p {
        color: #fff;
    }
}

.main__extra-block {
    margin-top: 55px;

    p {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 49px;
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.4);
    }
}

.content__add-code {
    display: none;
    flex-direction: column;
    align-items: center;
}

.main__code-form {
    position: relative;
    margin: 22px auto 50px;

    fieldset {
        border: 0;
        padding: 0;
        margin: 0;
    }

    div {
        display: flex;
        align-items: center;
    }

    label {
        border: 0;
        clip: rect(1px, 1px, 1px, 1px);
        -webkit-clip-path: inset(50%);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
    }

    input.main__code-number {
        width: 54px;
        height: 62px;
        border: none;
        line-height: 1;
        margin: 0.1em 10px;
        padding: 8px 0 4px;
        font-size: 46px;
        line-height: 54px;
        text-align: center;
        appearance: textfield;
        -webkit-appearance: textfield;
        color: #000000;
        border-radius: 5px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input.main__code-number:nth-of-type(n + 4) {
        order: 2;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px !important;
    .footer__stores {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .footer__mob-conten-text {
        font-family: $base-font;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.03em;
        color: #ffffff;
    }

    .footer__mob-content {
        display: none;

        img {
            height: 50px;
            &:hover {
                opacity: 0.8;
            }
        }
        .app__store {
            img {
                height: 35px;
            }
        }
    }

    .footer__main-content {
        display: flex;
    }

    p {
        color: rgba(255, 255, 255, 0.4);

        a {
            color: #fff;
        }
    }

    .footer__best {
        margin: 0 55px 0 0;
    }

    .footer__support {
        margin-right: 55px;
    }

    .footer__rules {
        a:hover {
            p {
                color: rgba(255, 255, 255, 1);
            }
        }
    }
}

.container {
    margin: 0 auto;
    width: 1250px;
}

@media (max-width: 1439px) {
    .container {
        width: 970px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 750px;
    }

    .bg-gragient {
        background: rgba(0, 0, 0, 1);
    }

    .bg-gragient-mob {
        height: 101%;
        background: rgb(0, 0, 0);
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 32%,
            rgba(0, 0, 0, 0.76234243697479) 64%,
            rgba(0, 0, 0, 0.44021358543417366) 100%
        );
    }

    .main__title {
        svg {
            width: 100%;
        }
    }

    .main .main__description-text {
        width: 100%;
    }

    .bg-main {
        background-image: none;
    }

    .bg-img-mob {
        background-image: url("../asset/amedia_poster.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .footer {
        .text16-19 {
            font-size: 13px;
        }
    }
}

@media (max-width: 768px) {
    body {
        background-color: black;
    }

    .bg-main,
    .bg-gragient {
        min-height: 100vh;
    }

    .mdc-text-field-helper-text::before {
        height: 10px;
    }
    .mdc-menu .mdc-list-item {
        padding: 0;
    }
    .mdc-menu.mdc-menu-surface.mdc-menu-surface--open {
        max-width: 100vw;
        min-width: 100vw;
        background: #1d1f23;
        border-radius: 0;
        width: 100vw;
        left: 0;
        right: 0;
        .header__close {
            margin-right: 20px;
        }
        .header__logo {
            margin-left: 20px;
        }
        ul {
            padding: 0;
            width: 100vw;
            left: 0;
            .mdc-list-item {
                display: flex;
                justify-self: center;
                width: 100%;
                a {
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }

    .container {
        width: 85%;
    }

    .header__link {
        display: none;
    }

    .header__mob-block {
        display: block !important;
    }

    .header.container {
        padding: 12px 0;
        margin-bottom: 88px;
    }

    .main__title {
        margin: 0 0 10px 8px;

        svg {
            width: 305px;
        }
    }

    .main.container {
        width: 86%;
    }

    .main__extra-block {
        margin-top: 20px;
        margin-bottom: 100px;
    }

    .main__extra-block p {
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.03em;
    }

    .main .main__description {
        margin: 0 0 35px;
    }

    .main__description-text.text22-26 {
        font-size: 12px;
        line-height: 14px;
    }

    .main-text-field {
        border-width: 0;
        border-style: solid;
        width: 185px;
        height: 30px;
        border-radius: 24px;
        margin: 0 10px 3px 0;
    }

    .main-text-field .mdc-text-field__input {
        font-size: 12px;
        line-height: 14px;
    }

    .mdc-button.mdc-button--unelevated {
        width: 130px;
        height: 30px;
        border-radius: 24px;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.03em;
    }

    .mdc-snackbar .mdc-snackbar__surface {
        width: 327px;
        height: 46.02px;
        justify-content: space-between;
        .mdc-snackbar__actions {
            width: 50px;
        }
    }
    .mdc-snackbar {
        margin-bottom: 85px !important;
    }
    .main .main__description-text {
        width: 106%;
        margin-bottom: 15px;
    }

    .main__form .mdc-text-field-helper-text {
        font-family: $base-font;
        font-size: 8px;
        line-height: 9px;
        margin-left: 67px;
    }

    .mdc-snackbar .mdc-snackbar__label {
        font-size: 15px;
        line-height: 18px;
        padding-right: 0;
    }

    .mdc-button.mdc-snackbar__action {
        svg {
            width: 15px;
            height: 15px;
        }
    }

    .mdc-icon-button {
        width: 48px;
        height: 48px;
        padding: 5px;
        left: 16px;
    }

    .mdc-icon-button svg,
    .mdc-icon-button img {
        width: 33px;
        height: 32px;
    }

    .mdc-list-item.item-top {
        display: flex;
        justify-content: space-between;
    }

    .mdc-list-item.item-middle {
        border-top: 1px solid rgba(255, 255, 255, 0.05);
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }

    .mdc-list-item {
        height: 68px;
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .mdc-list-item .mdc-list-item__text {
        line-height: 19px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.5);
    }

    .mdc-list-item:hover .mdc-list-item__text {
        color: rgba(255, 255, 255, 1);
    }
    .mdc-menu .mdc-list {
        width: 100vw;
    }

    .footer__main-content {
        display: none !important;
    }

    .footer .footer__best {
        margin: 0;
    }

    .footer {
        margin-bottom: 15px !important;
    }

    .footer__best .text16-19 {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 15px;
    }

    .footer__main-content {
        justify-content: center;
    }

    .footer__mob-content {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }

    .bg-img-mob {
        background-image: url("../asset/amedia_poster_mob.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
    }

    .mdc-dialog .mdc-dialog__surface {
        width: 90%;
        max-width: 630px;
        height: auto;
        border-radius: 8px;
        background-color: #1d1f23;
    }

    .mdc-dialog .dialog__title {
        font-size: 14px;
        line-height: 16px;
    }

    .mdc-dialog .dialog__main-text {
        font-size: 9px;
        line-height: 16px;
        margin-bottom: 13px;
    }

    .mdc-dialog .dialog__aside-text {
        margin-bottom: 19px;
        font-size: 10px;
        line-height: 11px;
    }

    .mdc-dialog .dialog__checkbox .checkbox__text {
        margin-left: 3px;
        font-size: 10px;
    }

    .mdc-dialog__button {
        svg {
            width: 12px;
            height: 12px;
        }
    }

    .mdc-dialog__button {
        width: 14px;
        height: 14px;
        min-width: 14px;
        padding: 0;
    }

    .mdc-dialog .mdc-dialog__content {
        margin: 20px 18px;
    }

    .mdc-dialog .mdc-dialog__content .dialog__top {
        margin-bottom: 19px;
    }

    .mdc-dialog .dialog__checkbox {
        margin-bottom: 5px;
    }

    .mdc-checkbox__background {
        top: 14px !important;
        left: 14px !important;
        width: 12px;
        height: 12px;
        border-radius: 2px;
    }

    .mdc-checkbox.mdc-checkbox--selected .mdc-checkbox__ripple::before,
    .mdc-checkbox.mdc-checkbox--selected .mdc-checkbox__ripple::after {
        width: 15px;
        height: 15px;
        left: 12px;
        top: 12px;
    }

    .main__code-form input.main__code-number {
        width: 30px;
        height: 40px;
        margin: 0.1em 5px;
        padding: 2px 0;
        font-size: 25px;
        line-height: 29px;
        border-radius: 3px;
    }

    .main__code-form {
        margin: 15px auto 25px;
    }
    .lds-dual-ring {
        width: 25px;
        height: 34px;
        left: -9px;
    }
    .lds-dual-ring:after {
        width: 14px;
        height: 14px;
    }
}
